@use '../1-helpers/variables';

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 5vh;
  width: 100%;
  border-bottom: 2px solid variables.$secundaryColor;
  box-shadow: 0px 3px 5px variables.$primaryColorDark;
  & > a, div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;  
    color: variables.$secundaryColor;
  }
}

.horizontal_container {
  white-space: nowrap;
  height: 100%;
  max-height: 100vh;
  width: auto;
  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    .slider {
      display: flex;
      height: 100%;
      width: 300%;
      flex-shrink: 0;
      transition: all 0.5s;
      section {
        flex-basis: 20%;
        flex-shrink: 0;
        flex: 1;
        display: flex;
        scroll-snap-align: start;
      }
    }
  }
}
.vertical_container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: variables.$gpGap;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  width: 95%;
  padding: variables.$gpGap variables.$gpGap 10vh;
  background-image: variables.$pokedexBackgroundTop;
  margin: 0 auto;
  border-radius: variables.$borderRadius;
}

$minVWTablet: variables.$minVWTablet;
$minVWDesktop: variables.$minVWDesktop;
$maxWVerticalC: variables.$maxWVerticalC;
@media only screen and (min-width: $minVWTablet) {
  .vertical_container {
    max-width: ($minVWTablet + (($minVWDesktop - $minVWTablet)/2));
    margin: 0 auto;
    // background-color: red;
    grid-template-columns: auto auto auto auto;
  }
}

$gpBase: variables.$gpBase;
$gpGap: variables.$gpGap;
$gpGapD: variables.$gpGapD;
@media only screen and (min-width: $minVWDesktop) {
  .vertical_container {
    $padding: $gpGapD;
    max-width: ($gpBase*4) + ($gpGapD * 3) + 10 + ($padding * 2);
    margin: 0 auto;
    gap: $gpGapD;
    grid-template-columns: auto auto auto auto;
    padding: $gpGapD;
  }
}