@use '../1-helpers/variables';

.container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: variables.$gpGap;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 95%;
  padding: variables.$gpGap variables.$gpGap 10vh;
  background-image: variables.$linearGradientGreen;
  background-size: 100vh;
  margin: 50px auto 0;
}

$minVWTablet: variables.$minVWTablet;
$minVWDesktop: variables.$minVWDesktop;
$maxWVerticalC: variables.$maxWVerticalC;
@media only screen and (min-width: $minVWTablet) {
  .container {
    max-width: ($minVWTablet + (($minVWDesktop - $minVWTablet)/2));
    height: auto; 
    grid-template-columns: auto auto auto auto;
  }
}

$gpBase: variables.$gpBase;
$gpGap: variables.$gpGap;
$gpGapD: variables.$gpGapD;
@media only screen and (min-width: $minVWDesktop) {
  .container {
    $padding: $gpGapD;
    max-width: ($gpBase*4) + ($padding * 3) + 10 + ($padding * 4);
    gap: $padding;
    grid-template-columns: auto auto auto auto;
    padding: $padding * 2;
  }
}