@use '../1-helpers/variables';

%container {
  position: relative;
  // background-image: linear-gradient(110deg, black 20%, variables.$darkGray 20%);
  border-radius: variables.$borderRadius;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 2rem auto 0;
  color: white;
  box-shadow: variables.$boxShadowCard;
  min-height: (variables.$fontLarge * 7);
  align-items: center;
  justify-content: center;
  padding: 10px;
  & > h1 {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 900;
    color: variables.$detailsColor;
    font-size: variables.$fontNormal;
    padding: inherit;
  }
}

.container {
  @extend %container;
  background-image: linear-gradient(140deg, black 20%, variables.$darkGray 20%);
}

.evolContainer {
  @extend %container;
  background-image: linear-gradient(140deg, black 20%, variables.$darkGray 20%, variables.$darkGray 80%, black 20%);
}