@use '../1-helpers/variables';

// variables.$

.span {
  color: white;
  font-size: variables.$fontSmall;
  font-weight: 400;
}
.faseContainer {
  display: flex;
  flex-wrap: wrap;
}
.faseContainerBase {
  margin-top: 2rem;
}