@use '../1-helpers/variables';

@mixin imageSize($percentage) {
  width: 100%;
  height: $percentage; 
}

%absolute {
  position: absolute;
}

.container {
  width: 30vw;
  height: 35vw;
  margin: 0;
  position: relative;
  border-radius: variables.$borderRadius;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.10);
  padding: 5vw 1vw 1vw 1vw;
  &:active {
    background-color: rgba(255, 255, 255, 0.3);
    >.background_image {
      opacity: 1;
    }

  }
}
.pokemon_image {
  @extend %absolute;
  @include imageSize(85%);
  z-index: 3;
  bottom: 0;
  &:active {
    padding: 20px;
  }
}

.background_image {
  @include imageSize(100%);
  background-image: url('/images/pokeball_white_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.number {
  @extend %absolute;
  top: 0;
  left: 0;
  background-color: variables.$detailsColor;
  color: white;
  width: fit-content;
  padding: 1vh 2vw;
  font-size: variables.$fontNormal;
  border-top-left-radius: variables.$borderRadius;
  border-bottom-right-radius: 25px;
  z-index: 2;
}

$minVWTablet: variables.$minVWTablet;
$minVWDesktop: variables.$minVWDesktop;
@media only screen and (min-width: $minVWTablet) {
  .container {
    // background-color: yellow;
    width: auto;
    height: (100vw / 4.5);  
    padding: 3vh 1vw 1vw;
  }

}