@use '../1-helpers/variables';

%opacityHalf {
  opacity: 0.5;
}

%images {
  width: 100%;
  height: 30vw; 
}

%absolute {
  position: absolute;
}

.container {
  width: 30vw;
  height: 35vw;
  margin: 5px auto 0px;
  position: relative;
  border-radius: 15px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5vw 1vw 1vw 1vw;
  &:active {
    background-color: rgba(255, 255, 255, 0.3);
    @extend %opacityHalf;
    >.background_image {
      @extend %opacityHalf;
    }

  }
}
.pokemon_image {
  @extend %absolute;
  @extend %images;
  z-index: 3;
  bottom: 0;
}

.background_image {
  @extend %images;
  background-image: url('/images/pokeball_white_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.number {
  @extend %absolute;
  top: 0;
  left: 0;
  background-color: variables.$detailsColor;
  color: white;
  width: fit-content;
  padding: 1vh 2vw;
  font-size: 14px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 25px;
  z-index: 2;
}