  @use '../1-helpers/variables';

.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: variables.$darkGray;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: variables.$pokedexBackgroundTop;
}

$minVWDesktop: variables.$minVWDesktop;
$minVWTablet: variables.$minVWTablet;
@media only screen and (min-width: $minVWTablet) {
  .container {
    background-color: variables.$darkGray;
  }
}

$maxWVerticalC: variables.$maxWVerticalC;
@media only screen and (min-width: $minVWDesktop) {
  .container {
    background-image: url('/images/pokeball_white_bg.png');
    background-attachment: fixed;
  }
}