@use '../1-helpers/variables';

$imgHeight: 25vh;

%center {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

%centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttom {
  @extend %centerFlex;
  $base: 10vw;
  position: fixed;
  bottom: 2rem;
  left: 50vw - (10vw /2);
  width: $base + 5;
  height: $base + 5;
  background-color: rgb(148,235,190, 0.2);
  color: black;
  text-decoration: none;
  font-weight: 900;
  font-size: variables.$fontLarge;
  border-radius: variables.$circleBorder;
  border: 3px solid rgba(0, 0, 0, 0.2);
  z-index: 999;
  .innerCircle {
    @extend %centerFlex;
    width: $base;
    height: $base;
    border-radius: inherit;
    background-color: rgb(148,235,190, 0.5);
    border: 2px solid variables.$secundaryColor;
    // opacity: 0.5;
  }
}
.number {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 20px 20px;
  background-color: variables.$detailsColor;
  border-end-start-radius: variables.$circleBorder;
}
.img {
  display: block;
  height: $imgHeight;
  width: auto;
  margin: 0vh auto;
  z-index: 999;
}
.container {
  display: flex;
  flex-direction: column;
  margin: -($imgHeight / 8) auto 0;
  background-color: white;
  height: auto;
  width: 100%;
  border-radius: variables.$borderRadius;
  box-shadow: variables.$boxShadowCard;
  z-index: 1;
  padding-bottom: 2rem;
  .mainName {
    font-size: variables.$fontXLarge;
    font-weight: 900;
    margin: 1.5em auto 0.2em;
    height: fit-content;
    width: fit-content;
    // background-color: red;
  }
  .types {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    height: fit-content;
    .type {
      background-color: blue;
      color: white;
      width: 50px;
      height: fit-content;
      display: flex;
      justify-content: center;
      margin: 5px;
      font-size: variables.$fontSmall;
      border-radius: 15px;
    }
  }
  .mainDetails {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    // flex-direction: row;
    // justify-content: space-around;
    .grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // background-color: blue;
      .key {
        @extend %center;              
        font-size: variables.$fontNormal;
        font-weight: 300;
        // background-color: red;
      }
      .value {
        @extend %center;          
        font-size: variables.$fontXLarge;
        font-weight: 800;
      }
      .unit {
        font-size: variables.$fontNormal;
        font-weight: 300;
      }
    }
  }
}
