@use '../1-helpers/variables';

$widthBig: 80%;
$widthMedium: 70%;
$widthSmall: 30%;

%container {
  display: flex;
  flex-direction: column;
  max-width: $widthBig;
  min-width: $widthSmall;
  height: fit-content;
  margin: 0 auto;
}
.bigContainer, .bigContainerBase {
  @extend %container;
  width: $widthBig;
}
.mediumContainer {
  @extend %container;
  width: $widthMedium;
}
.pokemonContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  & a {
    order: 2;
  }
  & img {
    border-radius: variables.$borderRadius;
    background-color: white;
    box-shadow: variables.$boxShadowCard;
    width: 100%;
    margin: auto;
  }
  & > h2 {
    order: 3;
    color: variables.$darkGray;
    font-size: variables.$fontSmall;
    width: fit-content;
    color: white;
    margin: 0 auto;
    & > span {
      font-weight: 900;
      color: variables.$detailsColor;
    }
  }
}
.evolveDetails {
  order: 1;
  display: flex;
  height: 3rem;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 500;
  font-size: variables.$fontSmall * 0.8;
  & > .key {
    color: variables.$secundaryColor;
  }
}