.container {
  background-color: yellow;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.pokeball_container, .pokeball_animated{
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: 50vh;
}

.pokeball_animated {
  animation-name: container_rotating;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  transition: margin-top 0.5s ease-in-out 1s;
  margin-top: -50px;
}

.interior, .interior_opening {
  position: relative;
  height: 0px;
  width: 100%;
  background-color: black;
}

.absolute_top, .absolute_bottom {
  position: absolute;
  width: 100%;
}

.interior_opening {
  transition: height 0.5s ease-in-out 1s;
  height: 120vh;
}

.absolute_top {
  top: -110px;
  height: 147px;
  z-index: 3;
}

.absolute_bottom {
  bottom: -116px;
  height: 116px;
  z-index: 2;
}

.top, .bottom {
  background-repeat: no-repeat;
  width: 226px;
  height: inherit;
  margin: auto;
}

.top {
  background-image: url("/images/pokeball-top.png");
}

.bottom {
  background-image: url("/images/pokeball-bottom.png");
}

.flickering_buttom, .normal_buttom {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 38px;
  width: 38px;
  margin-left: -19px;
  margin-bottom: 19px;
  border-radius: 9999px;
  z-index: 4;
  cursor: pointer;
}

.flickering_buttom {
  animation-name: flicker;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.normal_buttom {
  background-color: rgba(255, 99, 71, 0.5);
}

@keyframes flicker {
  0% { background-color: rgba(0, 0, 0, 0); }
  50% { background-color: rgba(255, 68, 0, 0.5); }
  100% { background-color: rgba(0, 0, 0, 0); }
}

@keyframes container_rotating {
  100% {
    transform: rotate(720deg);
  }
}

@keyframes opening {
  100% { 
    height: 100vh;
  }
}