//****************
//Colors variables
//****************

$primaryColorLight: rgb(208,247,164);
$primaryColorDark: rgb(148,235,190);
$secundaryColor: rgb(17,165,167);
$detailsColor: rgb(235,94,66);
$black: rgb(0, 0, 0);

//****************
//Fonts variables
//****************

$fontFamilyGlobal: 'Source Sans Pro', sans-serif;
$fontSmall: 14px;
$fontNormal: 18px;

//****************
//Images src variables
//****************

$pokeballTopSrc: "/images/pokeball-top.png";
$pokeballBottomSrc: "/images/pokeball-bottom.png";