//****************
//Fonts variables
//****************

$fontFamilyGlobal: 'Source Sans Pro', sans-serif;
$fontSmall: 14px;
$fontNormal: 18px;

//****************
//Images src variables
//****************

$pokeballTopSrc: "/images/pokeball-top.png";
$pokeballBottomSrc: "/images/pokeball-bottom.png";

//****************
//Colors variables
//****************


$primaryColorLight: rgb(208,247,164);
$primaryColorDark: rgb(148,235,190);
$secundaryColor: rgb(17,165,167);
$detailsColor: rgb(235,94,66);
$black: rgb(0, 0, 0);

  // Pokemon Type Background 
$fireBackground: #2c0000 #430a0a;

  // Pokemon Type Colors
$steel: rgb(158, 183, 184);
$dark: rgb(112, 112, 112);
$dragon: rgb(241, 110, 87);
$ghost: rgb(123, 98, 163);
$ice: rgb(81, 196, 231);
$rock: rgb(163, 140, 33);
$psychic: rgb(243, 102, 185);
$fighting: rgb(213, 103, 35);
$fairy: rgb(253, 185, 233);
$ground: rgb(171, 152, 66);
$electric: rgb(238, 213, 53);
$normal: rgb(164, 172, 175);
$bug: rgb(114, 159, 63);
$water: rgb(69, 146, 196);
$flying: rgb(61, 199, 239);
$fire: rgb(254, 126, 37);
$poison: rgb(185, 127, 201);
$grass: rgb(155, 204, 80);

//****************
//Other variables
//****************

$gridPokemonBorderRadius: 5px;